<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="U-XA-Compatible" content="ie=edge">
        {% block stylesheets %}
			{% include "partials/link.html.twig" %}
		{% endblock %}
	</head>
	<body>
        {% include "admin/partials/header.html.twig" %}

        {% block body %}{% endblock %}

        {% include "admin/partials/footer.html.twig" %}
        
		{% block javascripts %}
			{% include "partials/script.html.twig" %}
		{% endblock %}
	</body>
</html>
